h1 {
  display: table;
  white-space: nowrap;
  border-spacing: 25px 0;
}
h1:before, h1:after {
  content: "";
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: -moz-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: -ms-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: linear-gradient(#aaa, #aaa) repeat-x left center;
  background-size: 1px 1px;
}
.center_img{
margin-left: auto;
margin-right: auto;
margin-top: 25px;
width: 200px;
}

/**/
body {font-family: sans-serif; padding: 2em; background: #f2f2f2; color: #666}
p {text-align: center;}