<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='upload_successful.css') }}">
<div style="text-align: center;">
  <a href="https://www.ensiie.fr/"><img class="center_img"
      src="{{ url_for('static', filename='pics/ensiie.png') }}" /></a>
  <a href="https://www.linkedin.com/in/assabbane-mehdi/"><img class="center_img"
      src="{{ url_for('static', filename='pics/profile.jpg') }}" /> </a>
</div>
<h1>Upload Successful</h1>

<p>{{msg}} </p><br />
<p>
<div class="centered">
  <h3><a href="{{download}}"> download the results</a></h3>
</div>
</p><br />
<p><small class="centered"><a href="https://www.linkedin.com/in/assabbane-mehdi/">infos about the devlopper</a></small>
</p>